body{
    background: whitesmoke;
    font-family: sans-serif;
    margin: 0 auto;
    width: 60%;
    height:100%;
    /* border: solid dimgray 2px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:10px;
    border-radius:30px;
}
html{
    background: url("../banner/elemente-1.svg")
}


.hidden{
    display: none;

}

#messages{
    min-height:300px;
}

#messageBody{
    background: lightskyblue;
    border-radius: 2px 10px 10px 10px;
    margin-bottom: 10px;
    padding: 3px;
}

ul {
    list-style-type: none;
}