* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    background-image: linear-gradient(to right, white, green, white);
    height: 100%;

}

body {
    background: white;
    width: 60%;
    margin: 0 auto;
    padding: 2em 2em 4em;
    height: 100%;

}

img {
    display:block;
    max-width: 50%;
    margin: 0 auto;

}
.hidden {
    display:none;
}
.chatInput {
    padding: 3px;
    bottom: 0;
    width: 100%;
}

.chatInput input {
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

.chatInput button:hover {background-color: #3e8e41;}

.chatInput button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 450px;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

#messages {
    margin-bottom: 40px
}