html{background-image:url("banner/HUAY.jpg");font-family: monospace;font-size: x-large}
body{width:65% ;margin: 0 auto ;
}#message{background: white;width:90%;}input{font-size: x-large}h1{colour:white}
#messageUser{font-style: italic}.Hund{display:none}